@import "tailwindcss";

/* Base reset */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black
}

/* Root container */
#root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  overflow-y: auto;
}

/* Mobile scaling  */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .max-w-7xl,
  .max-w-6xl,
  .max-w-5xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
